@import 'app/static/styles/variables.scss';

.container {
  background: $white-100;
  border: $border;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 16px;
  font-size: 14px;
  line-height: 24px;
  color: $gray-60;
  display: block;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $desktop-breakpoint) {
    padding: 24px;
  }
}
.hasShadow {
  box-shadow: 0px 2px 4px rgba(96, 111, 144, 0.08);
}
