// Colors

$white-100: #fff;

$black-100: #060b14;

$gray-100: #0d192e;
$gray-80: #384766;
$gray-60: #606f90;
$gray-40: #d3d9eb;
$gray-20: #e9ecf5;
$gray-10: #f5f7fc;

$blue-100: #012380;
$blue-80: #003c8a;
$blue-60: #0238cc;
$blue-40: #0263e0;
$blue-30: #0e72e5;
$blue-20: #e9f2fe;

$green-100: #005900;
$green-80: #148014;
$green-60: #2ba62b;
$green-50: #24b29b;
$green-40: #9bb224;
$green-30: #edfdf3;
$green-20: #f0faf8;

$orange-100: #bf4713;
$orange-80: #e65b1c;
$orange-60: #f27935;
$orange-40: #fef5ee;

$red-100: #8c0000;
$red-80: #bf1313;
$red-60: #d9382b;
$red-40: #d99d98;
$red-20: #feecec;

$yellow-80: #f0c135;
$yellow-20: #fefbf1;
$yellow-10: #f8faf0;

$pink-80: #cc33b3;
$pink-20: #fbf1fA;

$purple-100: #360566;
$purple-80: #581799;
$purple-60: #8033cc;
$purple-40: #f9f2ff;
