html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Helvetica, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #425171;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
pre {
  margin: 0;
}

a,
a:visited {
  color: #3691fa;
  text-decoration: none !important;
}
a:hover {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

